<p id="notice"><%= notice %></p>

<p>
  <b>Lowyer code:</b>
  <%= @lowerdetail.lowyer_code %>
</p>

<p>
  <b>Lowyer:</b>
  <%= @lowerdetail.lowyer %>
</p>

<p>
  <b>Experience:</b>
  <%= @lowerdetail.experience %>
</p>

<p>
  <b>City:</b>
  <%= @lowerdetail.city %>
</p>


<%= link_to 'Edit', edit_lowerdetail_path(@lowerdetail) %> |
<%= link_to 'Back', lowerdetails_path %>
